
@media (max-width: 768px) {
    .content-wrapper {
        grid-template-columns: 1fr;
    }

    .photo-gallery {
        grid-template-columns: 1fr;
    }

    .photo-item img:hover {
        transform: none;
    }
}

@media (min-width: 768px) {
    .navigation {
        display: flex;
        margin-top: 0;
        margin-bottom: 0;
        padding: 1.5rem;
    }
 
    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    #menu {
        display: none;
    }

    .msg {
        width: 90%;
        margin: 0 auto;
        padding-top: 35px;
        padding-bottom: 35px;
    }

    .msg p {
        font-size: large;
      }
    
    .msg h2 {
        font-size: larger;
    }


    main.form-page {
        flex-direction: row;
        justify-content: space-between;
    }

    .form-container,
    .membership-benefits {
        width: 45%;
    }

    .form-container {
        margin-right: 5%;
    }
}