.content-wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
    margin: 20px;
}

.sidebar {
    background-color: #6A687A;
    color: whitesmoke;
    padding: 20px;
    border-radius: 10px;
}

.main-content {
    background-color: #536271;
    padding: 20px;
    border-radius: 10px;
}

.photo-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.photo-item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.photo-item img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.photo-item img:hover {
    transform: scale(1.1);
}

.photo-item p {
    text-align: center;
    color: whitesmoke;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .content-wrapper {
        grid-template-columns: 1fr;
    }

    .photo-gallery {
        grid-template-columns: 1fr;
    }

    .photo-item img:hover {
        transform: none;
    }
}