.banner{
    display: flex;
    background-color: #61e786;

}

#picture{
    width: 150px;
    margin: 10px;
    position: relative;
    left: 300px;
    box-shadow: 5px 5px 5px 5px black
}
#name{
    position: relative;
    font-size: xxx-large;
    font-style: italic;
    left: 320px;
    bottom: 100px;
    color: white;
}

.navigation {
    display: flex;
    justify-content: space-around;
    background-color:  black;
    padding: 1.4em;
    font-size: x-large;
    text-align:center;
}

.navigation a {
    color: #9792e3;
    width: 100%;
    text-decoration: none;
    padding: 2rem 0;
}

#active {
    background-color: #823a80;
    padding: 2rem;
}

.card{
    background-color: lightgray;
    margin: 10px;
    padding: 10px;
    box-shadow: 5px 5px 5px 5px gray;
    border-radius: 5px;

}
#information{
    text-align: center;
}
h2{
    background-color: #fbe78e;
    padding: 0.5em;
    border-radius: 5px;
    text-align: center;
    color: white;
    position: relative;
    bottom: 25px;
    display: block;
    
}
main{
   display: grid;
    grid-template-columns: 4fr 2fr;
    gap: 8px;
}

.long-line{
    color: black;
    border-bottom: 1px solid black; /* You can adjust the color, thickness, and style of the line */
    margin: 5px 5px 5px 5px;
    grid-column: 1/3;
}

footer {
    background-color: #61e786;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}
  
footer p {
    margin: 0;
    font-size: x-large;
    color: white;  
}