@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@700&display=swap');

* {
    font-family: 'Kanit', sans-serif;
}

/* Header styling */
header {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #61e786;
    color: white;
    text-align: center;
    position: relative;
}

header img {
    padding: 30px 0;
    margin: 0 auto;
}

header h1 {
    padding: 65px 0;
    font-size: 40px;
}

/* Navigation styling */
nav {
    width: 100%;
    margin: 1rem auto;
}

#picture {
    width: 200px;
}

#menu {
    font-size: 1.5rem;
    border: 1px solid #9792e3;
    padding: 1rem 2rem;
    background-color: #99B2DD;
}

#menu::before {
    content: "☰";
}

.open::before {
    content: "❎";
}

.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: #823a80;
}

.navigation li {
    display: none;
}

.navigation li a {
    display: block;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 30px;
}

.navigation li a:hover {
    color: #9792e3;
    text-decoration: underline;
}

.navigation li a:visited {
    color: black;
}

.open li {
    display: block;
    width: 100%;
}

.open li a {
    display: block;
}

/* Main content styling */
.long-line {
    color: black;
    border-bottom: 1px solid black;
    margin: 5px;
    grid-column: 1/3;
}

main {
    width: 100%;
    text-align: center;
}

main h2 {
    font-size: 35px;
    color: #fbe78e;
}

main h2:after {
    content: ' ';
    display: block;
    border: 3px solid #9792e3;
}

.card {
    border: black solid;
    display: grid;
    margin: 30px 0;
}

.card ul {
    list-style: none;
    font-size: 20px;
}

.card ul li {
    padding: 0.8rem;
    text-align: left;
}

.card ul li a {
    color: black;
    text-decoration: none;
}

.card ul li a:visited {
    color: black;
}

.card ul li a:hover {
    text-decoration: underline;
}

.card ul p {
    display: inline;
}

/* Footer styling */
footer {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: #61e786;
    color: white;
}

footer p {
    font-size: 20px;
    padding: 15px 0;
}

#lastModified {
    padding-bottom: 30px;
    color: #F9DEC9;
}

/* Dark Mode Button */
#mode {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 50px;
    background-color: white;
    cursor: pointer;
}